<h1>
  {{title}}
</h1>
<h2>
  {{contador}}
</h2>
<button (click)="aumentar()">
  aumentar
</button>
<button (click)="disminuir()">
  disminuir
</button>
<button (click)="multx2()">
  Multiplicar por 2
</button>
<button (click)="divx2()">
  Dividir por 2
</button>
<button (click)="reset()">
  Reset
</button>
<br>
<br>
<span>
  es mayor a 10?
  {{contador > 10}}
</span>
<br>
<span>
  es menor a 20?
  {{contador < 20}}
</span>
<br>
<span>
  es mayor o igual a 5?
  {{contador >= 5}}
</span>
<br>
<span>
  es menor o igual a 4?
  {{contador <= 5}}
</span>
<br>
<span>
  es igual a 6?
  {{contador === 6}}
</span>
<br>
<span>
  es diferente a 3?
  {{contador !== 3}}
</span>
<br>
<span>
  es modulo de 2?
  {{esPar(contador)}}
</span>
<br>
<span>
  es impar y es igual a 5?
  {{!esPar(contador) && contador===5}}

</span>
<br>
<span>
  es impar o es igual a 3?
  {{!esPar(contador) && contador|| 3}}

</span>
<br>
<span>
  grados farenheit?
  {{(contador*(9/5))+32}}

</span>
<br>
<span>
  {{estudiantes}}
</span>
<br>
<span>
  {{estudiantes[1]}}
</span>
<br>
<span>
  {{estudiantes.length}}
</span>
<br>
<span>
  {{estudiantes[estudiantes.length-1]}}
</span>
<br>
<span>
  {{estudiantes.sort()}}
</span>
<br>
<br>
<h2>
  {{animales[2].habitat}}
</h2>
<br>
<ul>

  <li>{{animales[5].nombre}}</li>

  <li>{{animales[6].nombre}}</li>

  <li>{{animales[7].nombre}}</li>

</ul>
<ul>
  <li *ngFor="let animal of animales">

    {{animal.nombre}}

  </li>
</ul>
<br><br>
<div *ngFor="let animal of animales" class="tarjeta">

  <img class="imagen" [src]="animal.imagen">

  <div class="datos">

    <span class="nombre">
      {{animal.nombre}}
    </span>
    <br>
    <br>
    <span>
     Peso( {{animal.pesoPromedioKg}})
    </span>
    <br>
    <span>
     Numero de patas ( {{animal.numeroPatas}} )
    </span>
    <br>
    <span>
     Color predominante ( {{animal.colorPredominante}} )
    </span>
    <br>
    <span>
     Alimentación ( {{animal.alimentacion}} )
    </span>
    <br>
    <span>
     Habitat ( {{animal.habitat}} )
    </span>
    <br>
    <span>
     Vuela? ( {{animal.vuela}} )
    </span>
    <br><br>

  </div>

</div>